.header
{   
   position: relative;
   height: 97vh;
   background-image: linear-gradient(to bottom right, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), url(img/hero.jpg);
   background-size: cover;
   background-position: top;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
   backface-visibility: hidden;

   @include respond(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 58vh, 0 100%); 
      clip-path: polygon(0 0, 100% 0, 100% 58vh, 0 100%); 
      backface-visibility: hidden;
      height: 70vh;
   
   }


}

.logoBox {
   position: absolute;
   top: 3rem;
   left: 3rem;
}

.logo {
   height: 3.5rem;
   width: 6.5rem;
}

  