/* 
 0 - 600px : Phone 
 600 - 900 : Tablet Portrait
 900 - 1200 : Tablet Landscape
 1200 - 1800 : Desktop (Normal Code)
 1800+ : Big Desktop 
 */
/*
 $breakpoint argument choices
 - phone
 - tabletPort
 - tabletLand
 - bigDesktop 
 1em = 16px
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*now for the linked html document, root font-size is 10px (not 16px). So now, 10px = 1rem.*/ }
  @media (min-width: 112.5em) {
    html {
      font-size: 81.25%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  margin: 2.5rem;
  font-family: Lato, Candara, sans-serif;
  color: rgba(100, 97, 97, 0.9); }
  @media (max-width: 56.25em) {
    body {
      margin: .5rem; } }
  @media (max-width: 37.5em) {
    body {
      margin: .2rem; } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(4rem);
    /*40px downwards*/ }
  80% {
    opacity: 0.5;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.headText {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*this property doesn't relate to position property. It is the property of element itself, and element moves according to the coordinates. e.g. translate(-50% -50%) means: move 50%left (distance covered=50% of element's width) and 50% up.(right bottom to left top/diagonally.)*/ }
  .headText .primaryHeading {
    color: #fff;
    text-transform: uppercase;
    line-height: 8rem;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 3.2rem;
    margin-left: 2.2rem;
    margin-right: auto;
    display: block;
    /*with static value, the animation doesn't work*/
    animation: moveToLeft 0.85s ease-out;
    /* animation-timing-function: ease-out; animation runs fast at first, but finsishes slowly*/
    /* backface-visibility: hidden;   if the heading text shakes upward after finishing animation, use this to fix it*/
    /* animation-delay: 3s;  //animation will start after 3s*/ }
    @media (max-width: 37.5em) {
      .headText .primaryHeading {
        letter-spacing: 1.4rem;
        margin-left: .5rem; } }
  .headText .primaryHeadingSub {
    color: #fff;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.8rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 4.5rem;
    animation: moveToRight 0.85s ease-out; }
    @media (max-width: 37.5em) {
      .headText .primaryHeadingSub {
        letter-spacing: .5rem;
        font-size: 1.5rem; } }

.secondaryHeading {
  font-size: 3.5rem;
  font-weight: 900;
  color: rgba(100, 97, 97, 0.9);
  background-image: linear-gradient(to right, #7ed565, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: transform .15s; }
  @media (max-width: 56.25em) {
    .secondaryHeading {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .secondaryHeading {
      font-size: 2.5rem; } }
  .secondaryHeading:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.05);
    text-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.6); }

.tertiaryHeading {
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem;
  line-height: 2.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 4.5rem; } }

.u-margin-top-big {
  margin-top: 7rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-medium2 {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem; }

@media (max-width: 37.5em) {
  .ucenter-element {
    position: absolute;
    right: 2rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 90rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 60rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media (min-width: 56.25em) {
      .row .col-1-of-2 {
        float: left; }
        .row .col-1-of-2:not(:last-child) {
          margin-right: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 80%;
        margin-right: auto;
        margin-left: auto; } }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        margin: 10% auto 6rem auto;
        width: 80%; } }
    @media (max-width: 37.5em) {
      .row .col-1-of-4 {
        margin: 10% auto 6rem auto;
        width: 80%; } }
    @media (min-width: 56.25em) {
      .row .col-1-of-4 {
        float: left; }
        .row .col-1-of-4:not(:last-child) {
          margin-right: 6rem; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 50vw;
        margin-right: auto;
        margin-left: auto; } }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 80%;
        margin-right: auto;
        margin-left: auto; } }
    @media (min-width: 56.25em) {
      .row .col-1-of-3 {
        float: left; }
        .row .col-1-of-3:not(:last-child) {
          margin-right: 6rem; } }
  @media (max-width: 37.5em) {
    .row .col-1-of-3:not(:last-child) {
      margin-bottom: 3.5rem; } }
  @media (max-width: 56.25em) {
    .row .col-1-of-3:not(:last-child) {
      margin-bottom: 3.5rem; } }

.header {
  position: relative;
  height: 97vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 101, 0.7), rgba(40, 180, 133, 0.7)), url(img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  backface-visibility: hidden; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 58vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 58vh, 0 100%);
      backface-visibility: hidden;
      height: 70vh; } }

.logoBox {
  position: absolute;
  top: 3rem;
  left: 3rem; }

.logo {
  height: 3.5rem;
  width: 6.5rem; }

.navigationCheckbox {
  display: none; }

.navigationButton {
  cursor: pointer;
  height: 7rem;
  width: 7rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 120; }
  @media (max-width: 56.25em) {
    .navigationButton {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigationButton {
      top: 3rem;
      right: 3.5rem; } }

.navigationBackground {
  visibility: hidden;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  background-image: radial-gradient(#7ed565, #28b485);
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.79, -0.3, 0.22, 1.18); }
  @media (max-width: 56.25em) {
    .navigationBackground {
      top: 3.5rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigationBackground {
      top: 3.5rem;
      right: 4rem; } }

.navigationNav {
  opacity: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 110;
  transition: all 0.6s cubic-bezier(0.79, -0.3, 0.22, 1.18); }

.navigationList {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 140;
  transition: all 0.6s cubic-bezier(0.79, -0.3, 0.22, 1.18); }

.navigationLink:link, .navigationLink:visited {
  display: inline-block;
  padding: 0 1.5rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 3rem;
  line-height: 6.5rem;
  color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, white 50%);
  background-size: 245%;
  transition: all .35s; }
  @media (max-width: 26.8em) {
    .navigationLink:link, .navigationLink:visited {
      font-size: 2rem; } }

.navigationLink:hover, .navigationLink:active {
  background-position: 100%;
  color: #7ed565;
  transform: translateX(1rem); }

.navigationCheckbox:checked ~ .navigationBackground {
  visibility: visible;
  transform: scale(75); }

.navigationCheckbox:checked ~ .navigationNav {
  opacity: 1;
  width: 100%; }

.navigationCheckbox:checked ~ .navigationNav .navigationList {
  opacity: 1;
  visibility: visible; }

.navigationIcon {
  position: relative;
  margin-top: 3.5rem;
  margin-left: 2rem; }
  .navigationIcon, .navigationIcon::before, .navigationIcon::after {
    width: 3rem;
    height: .2rem;
    background-color: #333;
    display: inline-block; }
  .navigationIcon::before, .navigationIcon::after {
    content: " ";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigationIcon::before {
    top: -.8rem; }
  .navigationIcon::after {
    top: .8rem; }

.navigationButton:hover .navigationIcon::before {
  transform: translateY(-0.2rem); }

.navigationButton:hover .navigationIcon::after {
  transform: translateY(0.2rem); }

.navigationCheckbox:checked ~ .navigationButton .navigationIcon {
  background-color: transparent; }

.navigationCheckbox:checked ~ .navigationButton .navigationIcon::before {
  top: 0;
  transform: rotate(135deg); }

.navigationCheckbox:checked ~ .navigationButton .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  text-decoration: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  /* -ve value of Y-axis means move upwards*/
  box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.2);
  /* Xcoordinate Ycoordinate Blur Color*/ }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.404); }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 4rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  /* transition: <property> <duration> <timing-function> <delay>;*/ }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  /*increases the size in given axis direction by 1.4times and 1.2times*/
  opacity: 0; }

.btn-white {
  position: relative;
  font-size: 1.5rem;
  margin-top: 5rem;
  display: inline-block;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.589);
  padding: 1.3rem 2.5rem;
  border-radius: 4rem; }
  .btn-white::after {
    background-color: #fff; }
  .btn-white.animated-btn {
    animation: moveToTop 0.5s ease-out 0.9s backwards;
    /*animation-fill-mode: backwards; this will directly apply the properties at 0% position of animation first on loading page. this prevents the button to be displayed before the animation starts after 1s*/ }

.btn-green {
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 5rem;
  display: inline-block;
  background-color: #55c57a;
  color: #fff;
  padding: 1.2rem 2.5rem;
  border-radius: 4rem; }
  .btn-green::after {
    background-color: #55c57a; }
  .btn-green-1 {
    margin-top: 1rem; }
  .btn-green-2 {
    margin-top: 0;
    margin-left: 2rem; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 0.3rem;
  font-size: 1.5rem;
  transition: all 0.13s;
  display: inline-block; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.55);
  transform: translateY(-0.2rem); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.65); }

.composition {
  position: relative; }
  @media (max-width: 56.25em) {
    .composition {
      top: 10rem;
      margin-bottom: 10rem; } }
  .compositionPhoto {
    width: 55%;
    box-shadow: 0 0.7rem 3.2rem rgba(0, 0, 0, 0.55);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem;
    z-index: 1; }
    @media (max-width: 56.25em) {
      .compositionPhoto {
        width: 33.333%;
        box-shadow: 0 0.7rem 3.2rem rgba(0, 0, 0, 0.55);
        position: relative; } }
  .compositionPhoto1 {
    top: -2rem;
    left: 0; }
    @media (max-width: 56.25em) {
      .compositionPhoto1 {
        top: 0;
        transform: scale(1.15); } }
  .compositionPhoto2 {
    top: 2rem;
    right: 0rem; }
    @media (max-width: 56.25em) {
      .compositionPhoto2 {
        top: 0;
        transform: scale(1.3);
        z-index: 2; } }
  .compositionPhoto3 {
    top: 10rem;
    left: 12rem; }
    @media (max-width: 56.25em) {
      .compositionPhoto3 {
        position: absolute;
        top: 0;
        left: 67.5%;
        transform: scale(1.15); } }
  .compositionPhoto:hover {
    z-index: 2;
    transform: scale(1.06) translateY(-0.5rem);
    box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.7);
    outline: 15px solid #55c57a; }
  .composition:hover .compositionPhoto:not(:hover) {
    transform: scale(0.92); }

.featureBox {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.35);
  padding: 4.5rem 2.5rem;
  line-height: 2.2rem;
  transition: transform 0.2s; }
  .featureBoxIcon {
    font-size: 6rem;
    margin-bottom: 2.2rem;
    background-image: linear-gradient(to right, #7ed565, #28b485);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .featureBox:hover {
    transform: translateY(-1.5rem) scale(1.04); }

.cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .cardsSide {
    height: 50rem;
    transition: all 0.7s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .cardsSideFront {
      background-color: #fff; }
    .cardsSideBack {
      background-color: purple;
      transform: rotateY(180deg); }
      .cardsSideBack-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cardsSideBack-2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 101, 0.85), rgba(40, 180, 133, 0.85)); }
      .cardsSideBack-3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .cards:hover .cardsSideFront {
    transform: rotateY(-180deg); }
  .cards:hover .cardsSideBack {
    transform: rotateY(0deg); }
  .cardsPicture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .cardsPicture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(img/nat-5.jpg); }
    .cardsPicture-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 101, 0.85), rgba(40, 180, 133, 0.85)), url(img/nat-6.jpg); }
    .cardsPicture-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(img/nat-7.jpg); }
  .cardsHeading {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    right: 0.1rem;
    top: 13rem;
    text-align: right;
    width: 55%; }
  .cardsHeadingSpan {
    display: inline-block;
    padding: .5rem 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .cardsHeadingSpan-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .cardsHeadingSpan-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 101, 0.85), rgba(40, 180, 133, 0.85)); }
  .cardsHeadingSpanThirdCard {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    right: 0;
    text-align: right; }
  .cardsHeadingSpan-3 {
    display: inline-block;
    padding: .5rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .cardsDetails {
    padding-top: 3rem; }
    .cardsDetails ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .cardsDetails ul li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem; }
        .cardsDetails ul li:not(:last-child) {
          border-bottom: 0.1rem solid rgba(100, 97, 97, 0.3); }
  .cardsCta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .cardsPriceBox {
    text-align: center;
    color: #fff;
    font-weight: 200; }
  .cardsPriceOnly {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .cardsPriceValue {
    font-size: 5rem;
    margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .cards {
      position: relative;
      height: auto;
      box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3); }
      .cardsSide {
        box-shadow: none;
        position: relative;
        height: auto;
        width: 100%;
        border-radius: .3rem; }
        .cardsSideFront {
          background-color: #fff;
          padding-bottom: 4rem; }
        .cardsSideBack {
          background-color: purple;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%); }
      .cardsDetails {
        padding: 2rem 2.3rem; }
      .cards:hover .cardsSideFront {
        transform: rotateY(0deg); }
      .cardsCta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        text-align: center; }
        .cardsCta a {
          margin-top: 2rem;
          margin-bottom: 1.5rem; }
      .cardsPriceBox {
        margin-bottom: 1rem; }
      .cardsPriceOnly {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 3rem; }
      .cardsPriceValue {
        font-size: 5rem;
        margin-bottom: 2rem; } }

.stories {
  background-color: rgba(255, 255, 255, 0.6);
  width: 75%;
  margin: 0 auto 6rem auto;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.35);
  font-size: 1.5rem;
  padding: 6rem 6rem 6rem 8rem;
  transform: skewX(-12deg);
  backface-visibility: hidden;
  transition: all 0.45s; }
  .storiesShape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 10rem;
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);
    backface-visibility: hidden;
    transform: translateX(-2rem) skewX(12deg); }
  .storiesImage {
    width: 100%;
    height: 100%;
    transform: translateX(-15%) scale(1.1);
    backface-visibility: hidden;
    transition: all 0.45s;
    border-radius: 10rem; }
  .storiesText {
    transform: skewX(12deg); }
  .storiesCaption {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 2rem;
    transform: translate(-75%, -20%);
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0;
    transition: all 0.45s; }
  .stories:hover .storiesCaption {
    opacity: 1;
    backface-visibility: hidden;
    transform: translate(-75%, -50%); }
  .stories:hover .storiesImage {
    filter: blur(0.3rem) brightness(90%);
    transform: translateX(-15%) scale(1.05); }

.bgVideo {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  overflow: hidden; }
  .bgVideoContent {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 37.5em) {
  .form {
    width: 295%; }
    .form div h2 {
      text-shadow: .1rem .2rem .1rem white; } }

.formGroup:not(:last-child) {
  margin-bottom: 2.5rem; }

.formInput {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  border: none;
  border-bottom: .3rem solid transparent;
  width: 90%;
  color: inherit;
  transition: all .4s; }
  .formInput:focus {
    outline: none;
    box-shadow: 0.1rem 0.3rem 3rem rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #28b485; }
  .formInput:focus:invalid {
    box-shadow: 0.1rem 0.3rem 3rem rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ff7730; }
  .formInput::-webkit-input-placeholder {
    color: rgba(100, 97, 97, 0.72); }

.formLabel {
  font-size: 1.4rem;
  margin-left: 2rem;
  display: inline-block;
  font-weight: 700;
  margin-top: .65rem;
  transition: all .3s; }

.formInput:placeholder-shown ~ .formLabel {
  opacity: 0;
  transform: translateY(-4.1rem); }

.formRadioGroup {
  width: 49.5%;
  display: inline-block;
  transform: translateX(2rem); }

.formRadioLabel {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  font-size: 1.8rem; }

.formRadioInput {
  display: none; }

.formRadioButton {
  position: absolute;
  left: .1rem;
  top: -0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  border: 0.5rem solid #28b485;
  border-radius: 50%; }
  .formRadioButton::after {
    content: '';
    height: 1rem;
    width: 1rem;
    background-color: #28b485;
    display: block;
    position: absolute;
    left: 51%;
    top: 52%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.15s; }

.formRadioInput:checked ~ .formRadioLabel .formRadioButton::after {
  opacity: 1; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.sectionFeatures {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 101, 0.7), rgba(40, 180, 133, 0.7)), url(img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .sectionFeatures > * {
    transform: skewY(7deg); }
  @media (max-width: 37.5em) {
    .sectionFeatures {
      padding: 13rem 0;
      transform: skewY(-10.5deg); }
      .sectionFeatures > * {
        transform: skewY(10.5deg); } }
  @media (max-width: 56.25em) {
    .sectionFeatures {
      padding: 13rem 0;
      transform: skewY(-10.5deg); }
      .sectionFeatures > * {
        transform: skewY(10.5deg); } }

.sectionTours {
  background-color: #f7f7f7;
  padding: 15rem 0; }

.sectionStories {
  position: relative;
  padding: 15rem 0; }

.sectionBook {
  padding: 14rem 0;
  background-image: linear-gradient(to bottom right, #55c57a, #28b485); }

.book {
  background-image: linear-gradient(105deg, #fff 50%, transparent 50%), url(img/nat-10.jpg);
  background-size: cover;
  border-radius: .8rem;
  box-shadow: 0.1rem 0.3rem 5rem rgba(0, 0, 0, 0.6); }
  @media (max-width: 37.5em) {
    .book {
      background-image: url(img/nat-10.jpg);
      color: rgba(255, 255, 255, 0.7);
      width: 100%; } }
  .bookForm {
    padding: 6rem;
    width: 50%; }

.popup {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  transition: all .4s; }
  .popupContent {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    width: 75vw;
    border-radius: .8rem;
    background-color: #fff;
    box-shadow: 0 0.1rem 4rem rgba(0, 0, 0, 0.5);
    display: table;
    overflow: hidden;
    transition: all .3s; }
  .popupLeft {
    width: 33.33%;
    display: table-cell; }
  .popupImage {
    display: block;
    width: 100%; }
  .popupRight {
    width: 66.6666%;
    height: 10%;
    display: table-cell;
    vertical-align: middle;
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem; }
    .popupRight h2 {
      padding-top: 5rem; }
    .popupRight a {
      margin-left: 64%;
      margin-top: 3rem; }
  .popupText {
    font-size: 1.4rem;
    line-height: 2.2rem;
    column-count: 2;
    column-gap: 3rem;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; }
  .popupText2 {
    display: none;
    font-size: 1.4rem;
    line-height: 2.2rem;
    column-count: 2;
    column-gap: 3rem;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popupContent {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup:target .popupImage {
    opacity: 1; }
  .popup:target .popupRight {
    opacity: 1; }
  .popupClose:link, .popupClose:visited {
    color: rgba(100, 97, 97, 0.9);
    position: absolute;
    top: -2rem;
    right: 2.5rem;
    font-size: 3.5rem;
    display: inline-block;
    text-decoration: none;
    transition: all .2s; }
    @media (max-width: 37.5em) {
      .popupClose:link, .popupClose:visited {
        top: -65%;
        right: -23%; } }
  .popupClose:hover {
    color: #7ed565; }
  @media (max-width: 75em) {
    .popup:target .popupImage {
      height: 32vh; } }
  @media (max-width: 37.5em) {
    .popup {
      display: block; }
    .popupContent {
      display: block;
      position: relative; }
    .popupImage {
      height: auto;
      width: 75vw; }
    .popupLeft {
      display: inline-block; }
    .popupRight {
      margin-top: 1.5rem;
      display: inline-block;
      position: absolute;
      left: 1.2rem;
      width: 100%; }
      .popupRight h3 {
        color: white;
        text-shadow: .1rem .1rem .2rem black; }
      .popupRight a {
        width: 40%;
        padding-left: 3.7rem;
        margin-left: 60%; }
    .popupText {
      display: none; }
    .popupText2 {
      display: inline;
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.7rem;
      line-height: 2.7rem;
      text-shadow: .1rem .1rem .15rem black; }
    .popup:target .popupContent {
      height: 60vh; } }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.6rem;
  height: 40%; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 6rem 5rem 0 5rem; } }
  .footerLogoBox {
    text-align: center;
    margin-bottom: 5rem; }
    @media (max-width: 37.5em) {
      .footerLogoBox {
        margin-bottom: 2.5rem; } }
  .footerLogo {
    margin-top: -3rem;
    margin-bottom: 2rem;
    width: 14rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .footerLogo {
        width: 12rem;
        height: auto;
        margin-bottom: 1rem; } }
  .footerNavigation {
    position: relative;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(247, 247, 247, 0.5);
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footerNavigation {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        margin-top: 3rem;
        margin-right: auto;
        margin-left: auto; } }
    @media (max-width: 37.5em) {
      .footerNavigation {
        width: 65vw;
        margin-top: 3rem;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-right: auto;
        margin-left: auto; } }
  .footerList {
    list-style: none; }
  .footerItems {
    display: inline-block; }
    .footerItems:not(:last-child) {
      margin-right: 2rem; }
    @media (max-width: 37.5em) {
      .footerItems {
        font-size: 1.6rem;
        letter-spacing: .1rem; } }
  .footerLink {
    text-decoration: none;
    color: rgba(247, 247, 247, 0.75);
    padding: .3rem .1rem;
    display: inline-block; }
    .footerLink:hover, .footerLink:active {
      color: #7ed565;
      box-shadow: 0.1rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
      transform: rotate(-5deg) scale(1.1);
      transition: all 0.1s; }
  .footer .credits {
    color: rgba(247, 247, 247, 0.75);
    width: 97%;
    display: inline-block;
    padding-right: 0;
    font-size: 1.65rem;
    line-height: 2.5rem; }
