////MAIN DOCUMENT COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed565;
$color-primary-dark: #28b485;
$color-grey-dark: rgba(100, 97, 97, 0.9); // at first it was #777
$color-grey-dark-2: #333;
$color-white: #fff;
$color-black: #000;

////GRID
$grid-width: 114rem;
$space-vertical: 8rem;
$space-vertical-small: 6rem;
$space-horizontal: 6rem;

////CARDS
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:  #2998ff;
$color-tertiary-dark:   #5643fa;


////FONT-SIZES
$used-font-size: 1.5rem;
$font-for-form: 1.8rem;

$color-grey-light-1: #f7f7f7;
